node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Prisma
.src/generated/prisma

# Logs
logs/
logs/**

# Env & Secrets
.env
.env.development
.env.test
.env.production

# OS & Editors
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Tests
coverage/

/src/generated/prisma
/generated/prisma

shadow.db
